.activity-row {
  display: grid;
  grid-template-columns: 1.1fr 0.8fr 0.9fr 1.2fr;
  align-items: center;

  width: 100%;
  gap: var(--space-sm);

  font-family: var(--font-base);
}

.activity-date,
.activity-meta {
  color: var(--text-secondary);
  font-size: var(--font-size-sm);
}

.activity-type {
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-transform: uppercase;
}

.activity-type.deposit,
.activity-type.buy {
  color: var(--success);
}

.activity-type.withdrawal,
.activity-type.sell {
  color: var(--fail);
}

.activity-amount,
.activity-symbol {
  color: var(--secondary-light);
  font-weight: 700;
}

@media (max-width: 500px) {
  .activity-row {
    grid-template-columns: 1fr 1fr;
    row-gap: var(--space-xxs);
  }
}
