@import './styles/tokens.css';
@import './styles/buttons.css';
@import './styles/forms.css';
@import './styles/layout.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  min-height: 100%;
}

body {
  font-family:
    var(--font-base);

  background:
    var(--primary-bg);

  color:
    var(--secondary);
}

button,
input,
select,
textarea {
  font: inherit;
}
