<app-widget-card title="Open Orders">
  <app-scrollable-list [items]="items()" [trackBy]="trackById" emptyMessage="No pending activity.">
    <ng-template let-item>
      @if (item.kind === 'transaction') {
        <div class="activity-row transaction-row">
          <span class="activity-date">{{ item.createdAt | date: 'MMM d, y' }}</span>
          <span
            class="activity-type"
            [class.deposit]="item.typeLabel === 'Deposit'"
            [class.withdrawal]="item.typeLabel === 'Withdrawal'"
          >
            {{ item.typeLabel }}
          </span>
          <span class="activity-amount">${{ item.amount | number: '1.2-2' }}</span>
          <span class="activity-meta">{{ item.methodLabel }}</span>
        </div>
      } @else {
        <div class="activity-row trade-row">
          <span class="activity-date">{{ item.createdAt | date: 'MMM d, y' }}</span>
          <span
            class="activity-type"
            [class.buy]="item.typeLabel === 'Buy'"
            [class.sell]="item.typeLabel === 'Sell'"
          >
            {{ item.typeLabel }}
          </span>
          <span class="activity-symbol">{{ item.symbol }}</span>
          <span class="activity-meta">Qty {{ item.quantity }}</span>
        </div>
      }
    </ng-template>
  </app-scrollable-list>
</app-widget-card>
