<app-watchlist-dialog-overlays
  [watchlistDialogMode]="watchlistFacade.watchlistDialogMode()"
  [watchlistNameDraft]="watchlistFacade.watchlistNameDraft()"
  [watchlistDialogError]="watchlistFacade.watchlistDialogError()"
  [canCreateWatchlist]="watchlistFacade.canCreateWatchlist()"
  [canDeleteActive]="watchlistFacade.canDeleteActive()"
  [maxWatchlists]="watchlistFacade.maxWatchlists"
  [maxHoldingsPerWatchlist]="watchlistFacade.maxHoldingsPerWatchlist"
  [activeWatchlistName]="watchlistFacade.activeWatchlist()?.name ?? null"
  [activeWatchlistSymbolCount]="watchlistFacade.activeWatchlistSymbolCount()"
  [selectedWatchlistAsset]="watchlistFacade.selectedWatchlistAsset()"
  (closeWatchlistDialog)="closeWatchlistDialog()"
  (watchlistNameChange)="onWatchlistNameInput($event)"
  (saveWatchlistName)="saveWatchlistName()"
  (confirmDeleteWatchlist)="confirmDeleteWatchlist()"
  (closeWatchlistAssetPopup)="closeWatchlistAssetPopup()"
  (removeSelectedWatchlistAsset)="removeSelectedWatchlistAsset()"
  (tradeSelectedWatchlistAsset)="openTradeForWatchlistSelectedAsset()"
/>

<app-watchlist-search-overlay
  [watchlistSearchOpen]="watchlistFacade.watchlistSearchOpen()"
  [watchlistSearch]="watchlistFacade.watchlistSearch()"
  [watchlistSearchInstrument]="watchlistFacade.watchlistSearchInstrument()"
  [instrumentOptions]="watchlistFacade.instrumentOptions"
  [activeWatchlistSymbolCount]="watchlistFacade.activeWatchlistSymbolCount()"
  [maxHoldingsPerWatchlist]="watchlistFacade.maxHoldingsPerWatchlist"
  [watchlistSearchError]="watchlistFacade.watchlistSearchError()"
  [activeWatchlistHasCapacity]="watchlistFacade.activeWatchlistHasCapacity()"
  [watchlistSearchRows]="watchlistFacade.watchlistSearchRows()"
  [watchlistSearchEmptyMessage]="watchlistFacade.watchlistSearchEmptyMessage()"
  (closeWatchlistSearchPopup)="closeWatchlistSearchPopup()"
  (watchlistSearchChange)="onWatchlistSearchChange($event)"
  (watchlistInstrumentFilterChange)="setWatchlistInstrumentFilter($event)"
  (addSymbolToActiveWatchlist)="addSymbolToActiveWatchlist($event)"
/>

<app-allocation-asset-overlay
  [asset]="selectedAllocationAsset()"
  (closed)="closeAllocationAssetPopup()"
  (tradeRequested)="openTradeForAllocationAsset()"
/>
