.page-content {
  width: min(1200px, 100%);

  margin: 0 auto;

  padding:
    var(--space-xxl)
    var(--space-xl);
}

.page-content h1 {
  margin: 0;

  color:
    var(--secondary-light);
}

.page-description {
  color:
    var(--secondary-dark);

  margin-bottom:
    var(--space-xl);
}

.empty-page {
  min-height: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.empty-page p {
  color:
    var(--secondary-dark);
}
