<app-widget-card title="Watchlist">
  <app-scrollable-list
    [items]="rows()"
    [trackBy]="trackBySymbol"
    emptyMessage="Your watchlist is empty."
  >
    <ng-template let-row>
      <button type="button" class="watchlist-row" (click)="selectSymbol.emit(row.symbol)">
        <div class="watchlist-info">
          <span class="symbol">{{ row.symbol }}</span>
          <span class="name">{{ row.name }}</span>
        </div>

        <div class="price-stack">
          <span class="price">{{ row.price | number: '1.2-2' }}</span>
          <span
            class="change"
            [class.positive]="row.changePct >= 0"
            [class.negative]="row.changePct < 0"
          >
            {{ row.changePct >= 0 ? '+' : '' }}{{ row.changePct | number: '1.2-2' }}%
          </span>
        </div>
      </button>
    </ng-template>
  </app-scrollable-list>
</app-widget-card>
